<div class="education_container">
	<h2 class="section_header"> Education </h2>
		<table>
			<% @user.education.each do |education| %>
				<tr>
				    <td> 
				    	<p class="institution" id="location"><%= education.institution %></p>
				    	<p class="institution" id="date"><%= education.start_date"-" education.end_date %></p>
				    </td>
				    <td>
				    	<p class="table_text"> <%= education.description %> </p>
				    </td>
				</tr>
			<% end %>
		</table>
</div>

