<div class="skill_container">
	<h2 class="section_header"> Skills </h2>
	<div class="skill_text">
		<p>
			<% @user.skill.each do |skill| %>
				<li> skill.name </li>
			<% end %>
		</p>
	</div>
</div>