<div class="skill_container">
	<h2 class="section_header"> Skills </h2>
	<div class="skill_text">
		<p>
			<li> Ruby </li>
			<li> Ruby on Rails </li>
			<li> JavaScript </li>
			<li> jQuery </li>
			<li> CSS3 </li>
			<li> HTML5 </li>
			<li> SQL database management systems (PostgreSQL, SQLite3) </li>
			<li> Stata (Data Analysis) </li>
			<li> Novulo CRM </li>
			<li> Reuters DataStream </li>
			<li> Microsoft Office (Excel, Word, PowerPoint and Visio) </li>
			<li> Adobe InDesign </li>
			<li> SPSS Statistics </li>
		</p>
	</div>
</div>