<div class="workexperience_container">
	<h2 class="section_header"> Work </h2>
		<table>
		  <tr>
		    <td> 
		    	<p class="institution" id="location">Darion Capital Management </p>
		    	<p class="institution" id="date">2015- 2016</p>
		    </td>

		    <td>
		    	<p class="table_text"> 	Employed at Darion Capital Management as a stock broker with a specialization in agricultural futures. Besides my role as broker I also prepared weekly market updates and handled compliance with the Dutch Authority Financial Markets. </p>
		    </td>
		  </tr>

		  <tr>
		    <td> 
		    	<p class="institution" id="location">Mark|Molenaars Legal </p>
		    	<p class="institution" id="date">2010- 2014</p>
		    </td>

		    <td>
		    	<p class="table_text"> Employed at Mark|Molenaars Legal. Job included assisting lawyers and keeping track of paperwork and archiving.  </p>
		    </td>
		  </tr>

		  <tr>
		    <td> 
		    	<p class="institution" id="location">Vlieland </p>
		    	<p class="institution" id="date">2013- now</p>
		    </td>

		    <td>
		    	<p class="table_text">Organized and volunteered a summer camp for children from troubled families. Besides being active as a camp leader, also part of the organization of the camp. </p>
		    </td>
		  </tr>

		  <tr>
		    <td> 
		    	<p class="institution" id="location">Self employed </p>
		    	<p class="institution" id="date">2010- 2016</p>
		    </td>

		    <td>
		    	<p class="table_text">Teaching to high school and university students. Taught math and physics on both high school and university level.</p>
		    </td>
		  </tr>

		  <tr>
		    <td> 
		    	<p class="institution" id="location">Haven van Texel </p>
		    	<p class="institution" id="date">2010- 2015</p>
		    </td>

		    <td>
		    	<p class="table_text">Manager at ‘Haven van Texel’, a Dutch restaurant in the centre of Amsterdam.</p>
		    </td>
		  </tr>


		</table>
</div>