<div class="workexperience_container">
	<h2 class="section_header"> Work </h2>
		<table>
			<% @user.jobs.each do |job| %>
				<tr>
					<td> 
						<p class="institution" id="location"><%= job.company %> </p>
						<p class="institution" id="date"><%= job.start_date"-" job.end_date %></p>
					</td>
					<td>
						<p class="table_text"><%= job.description %></p>
					</td>
				</tr>
			<% end %>
		</table>
</div>