<div class="about_form">
<h2 id="title">About</h2>
<%= form_for :about do |form| %>

    <%= form.label 'Biography' %>
    <%= form.text_area :description %></br>

    <%= form.submit %>

<% end %>
</div>
